<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

   <body background="images/background.jpg">

   <title>Lexical Analysis</title>

   <link rel="stylesheet" type="text/css" href="bootstrap-3.3.4-dist/css/bootstrap.css">
   <link rel="stylesheet" type="text/css" href="bootstrap-3.3.4-dist/css/bootstrap-theme.css">
   <link href="bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
   <link rel="icon" type="image" href="images/icon.jpg" />

   <script src="parse.js"></script>
   <script src="tokens.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
   <script src="main.js"></script>

</head>

<body>

<%- body %>

</body>
<script src="loadFiles.js"></script>
</html>
